.breakfast-page {
    margin-top: -30px;
    background-color: #F3E6CC;
}

.breakfast-page h1{
    padding: 120px 0 50px 0;
    justify-self: center;
    color: #685E3B;
    font-family: "IM Fell French Canon SC", serif;
    font-weight: 500;
    font-size: 45px;
}


.breakfast-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    margin: 2rem 2rem 8rem 2rem;
}
