.snack-page {
    margin-top: -30px;
    background-color: #F3E6CC;
    text-align: center;
}

.snack-page h1{
    padding: 120px 0 0 0;
    margin-bottom: -10px;
    justify-self: center;
    color: #685E3B;
    font-family: "IM Fell French Canon SC", serif;
    font-weight: 500;
    font-size: 45px;
}

.snippet {
    padding-bottom: 50px;
    font-family: Jacques Francois, serif;
    color: #854627;
    font-size: 20px;
}


.snack-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-items: center;
    gap: 3rem;
    margin: 2rem 2rem 8rem 2rem;
}

@media (max-width: 750px) {
    .snack-page h1{
        width: 400px;
    }
}

@media (max-width: 400px) {
    .snack-page h1{
        width: 100%;
        font-size: 40px;
    }
}