.footer{
    height: 100px;
    background-color: #685e3b;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.contact, .copyright-info{
    margin-top: 18px;
    font-family: Inria Serif, serif;
    font-size: 15px;
    color: #B48954;
}

.small-logo{
    margin: auto;
    padding-top: 20px;
    height: 50px;
    width: fit-content;
}

.small-logo img{
    height: 100%;
    width: 100%;

}

.contact h4{
    margin-bottom: -5px;
}
.contact p{
    font-size: 13px;
}

.contact{
    padding-left: 30px;
    text-align: left;
}

.copyright-info{
    padding-right: 30px;
    text-align: right;
}